<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    
    <!-- CSS only -->
    {{!-- Boostrap CSS --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="navbar" id="navPadding">
        <div>
            <h1 style="color: white"><a href="/"><u>Tech-Blog</u></a></h1>
        </div>
        <div>
            <a href="/">homepage</a>
            {{#if logged_in}}
            <a href="#" id="logout">logout</a>
            <a href="/dashboard/{{user_id}}">dashboard</a>
            {{else}}
            <a href="/login">login</a>
            <a href="/signup">sign-up</a>
            {{/if}}
        </div>
    </div>

    {{{body}}}

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>