<div class="jumbotron vertical-center">
  <div class="container d-flex justify-content-center marginDown">
    <form class="formStyles row" style="max-width: 800px">
        <h2 class="text-center" style="color: white">General Contractor Sign-Up Below</h2>
        <div class="form-group upDownMargin">
            <label for="exampleInputEmail1" style="font-size: 20px; font-weight: bold">Username</label>
            <br>
            <input type="text" class="form-control" id="gcUsername" aria-describedby="emailHelp" placeholder="Enter a Username" style="border: solid 2px black">  
        </div>
        <div class="form-group upDownMargin">
            <label for="exampleInputPassword1" style="font-size: 20px; font-weight: bold">Email</label>
            <input type="email" class="form-control" id="gcEmail" placeholder="Enter a Email" style="border: solid 2px black">
        </div>
        <div class="form-group upDownMargin">
            <label for="exampleInputPassword1" style="font-size: 20px; font-weight: bold">Company Name</label>
            <input type="text" class="form-control" id="gcCompanyName" placeholder="Please enter your company name" style="border: solid 2px black">
        </div>
        <div class="form-group upDownMargin">
            <label for="exampleInputPassword1" style="font-size: 20px; font-weight: bold">GC Lincense #</label>
            <input type="text" class="form-control" id="gcLicense" placeholder="Please enter your GC License #" style="border: solid 2px black">
        </div>
        <div class="form-group upDownMargin">
            <label for="exampleInputPassword1" style="font-size: 20px; font-weight: bold">Phone Number</label>
            <input type="text" class="form-control" id="gcNumber" placeholder="Enter a Contact #" style="border: solid 2px black">
        </div>
        <div class="form-group upDownMargin">
            <label for="exampleInputPassword1" style="font-size: 20px; font-weight: bold">Password</label>
            <input type="password" class="form-control" id="gcPassword" placeholder="Password" style="border: solid 2px black">
        </div>
        <div class="form-group upDownMargin">
            <label for="exampleInputPassword1" style="font-size: 20px; font-weight: bold">Re-Enter Password</label>
            <input type="password" class="form-control" id="gcPasswordcheck" placeholder="Password" style="border: solid 2px black">
        </div>
        <div class="d-flex justify-content-end loginButton">
            <button type="submit" class="upDownMargin btn btn-primary" id="submitGCBtn">Submit</button>
        </div>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>