<div class="jumbotron vertical-center">
  <div class="container d-flex justify-content-center marginDown">
    <form class="formStyles row justify-content-center" style="max-width: 800px">
        <h2 class="text-center" style="color: white">Who are you?</h2>
        <button class="typBtn" id="ownerBtn">Owner</button>
        <p class="text-center"style="color: white; font-size: 18px; margin: 0px; font-weight: bold">OR</p>
        <button class="typBtn" id="gcBtn">General Contractor</button>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>