<div class="jumbotron vertical-center">
  <div class="container d-flex justify-content-center">
    <form class="formStyles row" style="max-width: 800px">
        <div class="d-flex justify-content-center">
            <h2 class="text-center" style="color: white">Login Below</h2>
        </div>
        <div class="form-group upDownMargin">
            <label for="exampleInputEmail1" style="font-size: 20px; font-weight: bold">Username</label>
            <br>
            <input type="email" class="form-control" id="loginUser" aria-describedby="emailHelp" placeholder="Enter Username" style="border: solid 2px black">
            
        </div>
        <div class="form-group upDownMargin">
            <label for="exampleInputPassword1" style="font-size: 20px; font-weight: bold">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="border: solid 2px black">
        </div>
        <div class="d-flex justify-content-end loginButton">
            <button type="submit" class="upDownMargin btn btn-primary" id="loginBtn">Login</button>
        </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>
