/* Document to Fill Viewport */
html {
    height: 100%
}

/* Document to Fill Viewport */
body {
    min-height: 100%;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
  
/* Links inside the navbar */
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

#navPadding {
    padding-left: 30px;
    padding-right: 30px;
}

/* listed with Jumbotron to Center the Content on the Page */
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* Styling Element with the a tag as a container to hold Blog Posts */
article {
    border: solid 2px black;
    border-radius: 5px;
}

/* Styling the Div with the Article */
.formStyles {
    margin-top: 0px;
    padding-top: 0px;
    border: solid 2px #333;
    background-color: gray;
    padding: 5px;
    border-radius: 15px;
    width: 500px;
}

/* Setting margin for specific elements, typically divs within the Article */
.upDownMargin {
    margin: 10px 0px;
}

/* Setting Button style elements in a uniform content */
.typBtn {
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    width: 250px;
    border-radius: 15px;
    border: solid 3px #333;
    background-color: white;
    margin: 5px;
}

/* Setting Button style elements in a uniform content */
.btn {
    max-width: 100px;
    background-color: #333;
    border-color: #333;
}

/* Setting Button style elements in a uniform content */
.btn1 {
    width: fit-content;
    background-color: #333;
    border-color: #333;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    
}

/* Additional Style Elements for specific Blog */
.projectBorder {
    padding: 5px 0px 0px 0px;
}

/* Additional Style Elements for specific Blog */
.projectDivider1 {
    margin: 0px;
    margin-top: 5px;
    border-top: solid 2px #333
}

/* Additional Style Elements for specific Blog */
.projectDivider2 {
    margin: 0px;
}

/* Styling Header to have a little indent */
#h2 {
    padding-left: 5px;
}

/* Additional Style Elements for specific Blog */
.projectHeaders1{
    align-items: end;
    justify-content: center;
    border: solid 2px #333;
    font-size: 16px;
    color: white;
    height: 35px;
}

/* Additional Style Elements for specific Blog */
.projectHeaders2{
    font-size: 16px;
    color: black;
    height: fit-content;
    background-color: lightseagreen;
}

/* Additional Style Elements for specific Blog */
.projectContent2{
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: black;
    min-height: 50px;
    height: fit-content;
    padding: 0px;
}

/* Additional Style Elements for specific Blog */
.contents {
    justify-content: center;
    font-size: 16px;
    color: black;
    min-height: 100px;
    height: fit-content
}

/* Styling for Comments underneath Blogs */
.commentBox1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 2px black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 5px 0px;
    min-height: 50px;
    background-color: lightpink;
}

/* Styling for Comments underneath Blogs */
.commentBox2 {
    display: flex;
    align-items: center;
    border: solid 2px black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 5px 0px;
    min-height: 50px;
    background-color: lightgray;
}

/* Setting a larger margin above to space the Div beneath the locked Nav Bar */
.marginDown {
    margin-top: 100px;
}

/* Allows hover & Cursor change when hover over article tag */
article:hover {
    opacity: 50%;
    cursor: pointer;
}

