html {
    height: 100%
}

body {
    min-height: 100%;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
  
/* Links inside the navbar */
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

#navPadding {
    padding-left: 30px;
    padding-right: 30px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.formStyles {
    margin-top: 0px;
    padding-top: 0px;
    border: solid 2px #333;
    background-color: gray;
    padding: 5px;
    border-radius: 15px;
    width: 500px;
}

.upDownMargin {
    margin: 10px 0px;
}

.typBtn {
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    width: 250px;
    border-radius: 15px;
    border: solid 3px #333;
    background-color: white;
    margin: 5px;
}

.projectBorder {
    border: solid 2px #333;
    background-color: gray;
    padding: 5px 0px 0px 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn {
    max-width: 100px;
    background-color: #333;
    border-color: #333;
}

.btn1 {
    width: fit-content;
    background-color: #333;
    border-color: #333;
    border: solid 2px white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    
}

.projectDivider1 {
    margin: 0px;
    margin-top: 5px;
    border-top: solid 2px #333
}

.projectDivider2 {
    margin: 0px;
    border-top: solid 1px #333;
    background-color: lightblue;
}

#h2 {
    padding-left: 5px;
}

.projectHeaders1{
    align-items: end;
    justify-content: center;
    border: solid 2px #333;
    font-size: 16px;
    color: white;
    height: 35px;
}

.projectHeaders2{
    align-items: center;
    justify-content: center;
    border: solid 1px #333;
    font-size: 16px;
    color: black;
    height: 50px;
}

.marginDown {
    margin-top: 100px;
}

/* Focus Buttons */

.focus:hover {
    background-color: forestgreen;
}

